:root {
    --title-color: rgb(10, 26, 117);
    --primary-color: #34cb79;
    --secundary-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(235, 235, 235);
    -webkit-font-smoothing: antialiased;
}


a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', 'sans-serif';
}